.showResultsButton.showResultsButton {
  position: fixed;
  bottom: 1.25rem;
  border-radius: 24px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--Action-Link, #1d4ed8);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
