.pageLayout {
  display: grid;
  grid-template-areas: "main main";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 2rem;
  max-width: 1200px;
}

.sidebar {
  grid-area: sidebar;
}

.background {
  background: var(--background-color);
  min-height: 100vh;
}

.inSelectionMode.background {
  background: var(--grey);
}

.pageLayout > header {
  grid-area: header;
}

.pageLayout > main {
  grid-area: main;
  overflow: auto;
  padding: 0;
}

.pageLayout > footer {
  grid-area: footer;
}

@media (min-width: 1024px) {
  .pageLayout {
    grid-template-areas: "sidebar main";
    grid-template-columns: calc(8rem + 224px) 3fr;
  }

  .pageLayout > main {
    width: 100%;
    margin-right: auto;
    margin-top: 1.5rem;
  }
}
