.fosToolbar {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  border: 1px solid #000;
  background: var(--background-color);
  outline-color: var(--button-color);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 100;
  width: calc(100vw - 3rem);
  left: 0.5rem;
  bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .fosToolbar {
    display: none;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}
