*                   @digdir/team-dialogporten-frontend
.azure/**           @digdir/team-dialogporten-infra
.github/**          @digdir/team-dialogporten-infra
!.github/CODEOWNERS @digdir/team-dialogporten-infra