.addFilterButtonContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  position: relative;
}

.addFilterItemLabel {
  font-size: 1rem;
  font-weight: 400;
}

.filterOpen button {
  z-index: 999;
}
