.addFilterButtonContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    position: relative;
    z-index: 1001;
}

.addFilterItemLabel {
    font-size: 1rem;
}

.addFilterItemCount {
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 244, 246);
    color: rgba(0,0,0);
}