*               @digdir/team-dialogporten-frontend
.azure/**       @digdir/team-dialogporten-infra @digdir/team-dialogporten-frontend
.github/**      @digdir/team-dialogporten-infra @digdir/team-dialogporten-frontend