.transmissionParticipants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  margin-left: 0.4rem;
}

.sender {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
}

.participantLabel {
  display: flex;
  font-weight: 500;
  align-items: center;
  flex-wrap: wrap;
}

.dateLabel {
  color: var(--text-neutral-subtle);
  font-size: 0.875rem;
  font-weight: 400;
}

.transmissionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.0625rem 1.0625rem 0 0;
}

.transmissionDescription {
  font-weight: 400;
  font-size: 1.125rem;
  height: 100%;
}

.summary {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.statusSection {
  margin-left: 1rem;
  padding: 0 1.0625rem 1.0625rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.attachments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.attachmentItem {
  list-style-type: none;
  margin: 0;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--text-accent-subtle);
  font-size: 1.125rem;
}

.attachmentIcon {
  --icon-size: 1.6875rem;
  min-height: var(--icon-size);
  min-width: var(--icon-size);
  max-height: var(--icon-size);
  max-width: var(--icon-size);
  align-self: baseline;
}

.attachmentItemIcon {
  height: 24px;
  width: 24px;
  margin-right: 1rem;
}

.attachmentTitle {
  color: var(--text-neutral-subtle);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
