.sidebarItem {
    margin: 0.5rem 1.625rem;
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.sidebarItem.isButton {
    background-color: #fff;
    border-radius: 22px;
    padding-bottom: 0.25rem;
}

.sidebarItem.isButton.isCompany {
    border-radius: 4px;
}

.iconAndText {
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
}

.icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    color: #000;
}

.arrowIcon {
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    color: #000;
}

.icon.isPrimary {
    background-color: #fff;
}

.icon.isInbox {
    background: var(--button-color);
    width: 2.75rem;
    height: 2.75rem;
    color: #fff;
}

.icon.isMenuItem {
    background: var(--Neutral-Paper, #F3F4F6);
    color: #000;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.displayText {
    font-size: 1.25rem;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    margin-right: 8px;
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
    padding: 4px 8px;
    font-size: 1rem;
}


.redCounter {
    background-color: var(--action-important, #E02E49);
    color: #fff;
}

.link {
    text-decoration: none;
    color: inherit;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.active {
  background: #fff;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.counterAndIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}
