.sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  min-width: 14rem;
  max-width: 14rem;
}

.horizontalLine {
  border: 0;
  height: 1px;
  background-color: #00000040;
  margin: 0.5rem 2rem;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.menuList {
  overflow: visible;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
