.inboxItemsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-top: 0;
  :first-letter {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 1024px) {
  .inboxItemsHeader {
    margin-left: 1rem;
  }
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
}
