.inboxItemDetail {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background: #fff;
}

.descriptionContainer {
  padding: 0 1.0625rem 1.0625rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.header {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.title {
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
}

.icon {
  margin-right: 0.375rem;
  height: 18px;
  width: 18px;
  flex-shrink: 0;
}

.additionalInfo {
  padding: 1rem 0.5rem;
}

.activities {
  padding: 2rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.participants {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.receiver,
.sender {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.sender {
  font-weight: 500;
}

.description {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

.participantIcon {
  margin-right: 0.375em;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  > svg,
  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 40px;
    max-height: 40px;
  }
}

.icon {
  margin-right: 0.5rem;
  height: 36px;
  width: 36px;
  flex-shrink: 0;
  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.tags {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-weight: 400;
}

.tagIcon {
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.attachments {
  > ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem;
  }
}

.attachmentItem {
  list-style-type: none;
  margin: 0;
  line-height: 2;

  > li {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
}

.attachmentItemIcon {
  height: 24px;
  width: 24px;
  margin-right: 1rem;
}

.attachmentTitle {
  padding-top: 1rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .inboxItemDetail {
    margin: 1rem;
  }
}
