.inboxItemWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4px);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin: 2px;
  text-indent: 0;
  list-style-type: none;
  background: #fff;
}

.noBorder {
  box-shadow: none;
}

.minimalistic {
  box-shadow: none;
  background: inherit;
  max-width: 450px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.hoverable:hover {
  outline: 2px solid #000;
}

.hoverable:hover .title {
  text-decoration: underline;
}

.active {
  outline: 2px solid #00315d;
  background: #eff5fd;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.inboxItem {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.0625rem 1.0625rem 1rem;
  padding-left: 1rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
}

.minimalistic .inboxItem {
  margin: 0;
}

.isUnread {
  border-left: 4px solid var(--border-color-accented);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.title__unread {
  font-weight: 600;
}

.minimalistic .title {
  color: var(--black-100, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  margin: 0;
  padding: 0;
}

.participants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.receiver,
.sender {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
}

.participantLabel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  color: var(--text-neutral-subtle);
}

.senderIcon {
  margin-right: 0.375em;
  height: 32px;
  width: 32px;
  flex-shrink: 0;

  > svg,
  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 32px;
    max-height: 32px;
  }
}

.summary {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  max-width: 600px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.35;
}

.minimalistic .summary {
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}
