.inboxItemDetailWrapper {
  padding: 1.5rem;
}

.inboxItemDetail {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .inboxItemDetailWrapper {
    padding: 1.5rem 1rem;
  }
}

.sectionWithStatus {
  margin-left: 1rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1rem;
}

.sectionWithStatus > * {
  margin-top: 0;
  margin-bottom: 0;
}

.summarySection {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.header {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.title {
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 0;
}

.icon {
  margin-right: 0.375rem;
  height: 18px;
  width: 18px;
  flex-shrink: 0;
}

.additionalInfo {
  padding: 1.5rem 0 0;
  line-height: 1.5;
}

.activities {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
}

.activitiesTitle {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.participants {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.senderInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 0.25rem;
}

.receiver,
.sender {
  font-size: 1rem;
  align-items: center;
  white-space: nowrap;
}

.receiver {
  color: var(--text-neutral-subtle);
}

.sender {
  font-weight: 500;
}

.summary {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.updatedLabel {
  color: var(--text-neutral-subtle);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.participantIcon {
  margin-right: 0.375em;
  height: 36px;
  width: 36px;
  flex-shrink: 0;
  > svg,
  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 36px;
    max-height: 36px;
  }
}

.icon {
  margin-right: 0.5rem;
  height: 36px;
  width: 36px;
  flex-shrink: 0;
  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.tags {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-neutral-subtle);
}

.tagIcon {
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.attachments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.attachmentItem {
  list-style-type: none;
  margin: 0;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--text-accent-subtle);
  font-size: 1.125rem;
}

.attachmentIcon {
  --icon-size: 1.6875rem;
  min-height: var(--icon-size);
  min-width: var(--icon-size);
  max-height: var(--icon-size);
  max-width: var(--icon-size);
  align-self: baseline;
}

.attachmentItemIcon {
  height: 24px;
  width: 24px;
  margin-right: 1rem;
}

.attachmentTitle {
  color: var(--text-neutral-subtle);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
