.inboxItemDetail {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 16px;
}

@media (max-width: 1024px) {
  .inboxItemDetail {
    padding: 0.5rem;
  }
}

.sectionWithStatus {
  margin-left: 1rem;
  padding: 0 1.0625rem 1.0625rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.header {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.title {
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 0;
}

.icon {
  margin-right: 0.375rem;
  height: 18px;
  width: 18px;
  flex-shrink: 0;
}

.additionalInfo {
  padding: 1rem 0.5rem;
}

.activities {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.activitiesTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.participants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.participantLabel {
  display: flex;
  flex-wrap: wrap;
}

.receiver,
.sender {
  font-size: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.receiver {
  color: var(--text-neutral-subtle);
}

.sender {
  font-weight: 500;
}

.summary {
  color: var(--text-neutral-subtle);
  font-size: 1rem;
  font-weight: 400;
}

.createdLabel {
  color: var(--text-neutral-subtle);
  font-size: 1rem;
  font-weight: 400;
}

.participantIcon {
  margin-right: 0.375em;
  height: 36px;
  width: 36px;
  flex-shrink: 0;
  > svg,
  img {
    min-width: 100%;
    min-height: 100%;
    max-width: 36px;
    max-height: 36px;
  }
}

.icon {
  margin-right: 0.5rem;
  height: 36px;
  width: 36px;
  flex-shrink: 0;
  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.tags {
  font-size: 0.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-weight: 400;
}

.tagIcon {
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.attachments {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.attachmentItem {
  list-style-type: none;
  margin: 0;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: var(--text-accent-subtle);
  font-size: 1.125rem;
}

.attachmentIcon {
  min-height: 1.25rem;
  min-width: 1.25rem;
  max-height: 1.25rem;
  max-width: 1.25rem;
}

.attachmentItemIcon {
  height: 24px;
  width: 24px;
  margin-right: 1rem;
}

.attachmentTitle {
  color: var(--text-neutral-subtle);
  font-weight: 400;
  font-size: 1rem;
}
