.menuContainer {
  position: relative;
  display: flex;
  background-color: var(--avatar-color, #111D46);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.625rem;
  height: 2.25rem;
  max-height: 2.25rem;
}

.menuText {
  color: white;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  padding: 0.25rem;
}

.menuCircle {
  min-width: 36px;
  min-height: 36px;
  background-color: var(--avatar-color, #111D46);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.25rem;
  position: relative;
  padding-left: 0.25rem;
}

.menuCircle.isOrganization {
  border-radius: 4px;
}


.icon {
  flex-shrink: 0;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0.25rem;

  >svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.menuItems {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 1rem;
  z-index: 1;
  width: 12.5rem;

}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  >svg {
    min-width: 100%;
    min-height: 100%;
  }

}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--action-important, #E02E49);
  margin-right: 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  position: absolute;
  transform: translate(50%, -50%);
  top: 0;
  margin-top: 0.25rem;
  right: 0;
}

.nameWithInitials {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--avatar-color, #111D46);
  border-radius: 0.375rem;
  color: #fff;
  height: 2.25rem;
  max-height: 36px;
  padding-right: 0.625rem;
}

.primaryName {
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.secondaryName {
  width: 100%;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}