.progress {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(var(--border-color-accented) var(--progress, 0), var(--background-color-accented) 0);
  display: grid;
  place-content: center;
  transform: scaleX(-1);
}

.progress:after {
  width: calc(var(--size) * 0.5);
  height: calc(var(--size) * 0.5);
  aspect-ratio: 1;
  content: attr(data-value);
  display: grid;
  background: #fff;
  border-radius: 50%;
  font-size: 0;
  place-content: center;
}
