.sidebar {
    width: calc(224px + 2em + 2em);
    background-color: #E5EBEC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25em 0;
}

.horizontalLine {
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0.5em 2em;
}