.buttons {
  z-index: 1001;
  display: flex;
}

.xIcon {
  background-color: #1e98f5;
}

.removeFilterButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #fff;
  box-sizing: border-box;
}

.xableButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.xed {
  text-decoration: line-through;
}

.filterButton {
  font-weight: 500;
}

.checkbox input[type="checkbox"] {
  display: flex;
  align-self: center;
}

.checkMarkHolder {
  min-width: 1.5rem;

  svg {
    height: 1.5rem;
    width: auto;
  }
}

.filterListLabel {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.menuColumn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

@media (max-width: 1024px) {
  .menuColumn {
    display: none;
  }
}

.backButtonIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.subMenuTitle {
  color: var(--black-100, #000);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.filterDateContent {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 1rem;
  row-gap: 1rem;
  margin-top: 0.5rem;
}

.dateInputLabel {
  pointer-events: none;
}

.dateInputWrapper {
  display: flex;
  justify-content: space-between;
  appearance: none;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
}

.dateInputWrapper:focus-within {
  border: 1px solid var(--Action-Link);
}

.dateInputField {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: calc(100% - 2rem);
  appearance: none;
  padding: 8px;
  border: none;
  outline: none;
}

.dateInputField::-webkit-inner-spin-button,
.dateInputField::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.clearDateButton {
  border: none;
  cursor: pointer;
  background: transparent;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-right: 16px;
}

.clearDateIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  border-radius: 24px;
  background-color: var(--black-5, rgba(0, 0, 0, 0.05));
  color: #000;
  padding: 2px;
}
