.globalMenuBar {
  position: relative;
  display: flex;
  background-color: var(--Company-Primary, #111d46);
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0.625rem;
  height: 2.25rem;
  min-width: 6.4375rem;
  user-select: none;
  z-index: 1111;
}

.menuText {
  min-width: 2.25rem;
  min-height: 2.25rem;
  background-color: var(--Company-Primary, #111d46);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.125rem;
  position: relative;
}

.menuButtonWrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--Company-Primary, #111d46);
  border-radius: 0.375rem;
  color: #fff;
  height: 2.25rem;
  max-height: 36px;
}

.menuCircle {
  min-width: 2.25rem;
  min-height: 2.25rem;
  background-color: var(--Company-Primary, #111d46);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.25rem;
  position: relative;
  padding-left: 0.25rem;
}

.menuCircle.isOrganization {
  border-radius: 4px;
}

.notificationWrapper {
  display: flex;
  transform: translate(50%, -50%);
  position: absolute;
  top: 1px;
  margin-top: 0.25rem;
  right: 4px;
}

.menuButtonText {
  font-weight: 500;
}

.closeMenuButton {
  font-size: 1.5rem;
}

.toggleOpenButton {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  min-width: 36px;
  min-height: 36px;
  max-height: 36px;
  max-width: 36px;
  padding: 0 0 0 0.25rem;
}

.toggleOpenButton:active {
  border-style: initial;
}

.crossSquare {
  min-width: 34px;
  min-height: 34px;
  max-width: 34px;
  max-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Company-Primary, #111d46);
  color: #fff;
  border-radius: 0.125rem;
  border: 1px solid #9ca3af;
  box-sizing: content-box;
}

.active {
  background: var(--background-color);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logoutButton {
  width: 100%;
}

.subMenuTitle {
  color: var(--black-100, #000);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.iconAndText {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.displayText {
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
