.menuItems {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1002;
  width: 374px;
  background-color: #fff;
  padding: 1rem 0.5rem;
  border-radius: 6px;
}

.linkContent {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menuList {
  background: #fff;
  overflow: visible;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  z-index: 1001;
}

@media screen and (max-width: 1024px) {
  .menuItems {
    left: 0;
    width: calc(100% - 1rem);
    margin-right: 1rem;
    position: fixed;
    top: 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1002;
  }

  .menuList {
    min-height: calc(100vh - 10rem);
  }
}

.menuColumn {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.backButtonIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.subMenuTitle {
  color: var(--black-100, #000);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.displayText {
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
