.profileButton {
  white-space: nowrap;
  border-radius: 2px;
}

.primary {
  background-color: var(--button-color);
  color: var(--background-color);
}

.secondary {
  background: var(--background-color);
  border: 1px dashed var(--button-color);
  color: 1px dashed var(--button-color);
}

.tertiary {
  background: var(--background-color);
  color: 1px dashed var(--button-color);
}
