.activityParticipants {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
  margin-left: 0.4rem;
}

.sender {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
}

.participantLabel {
  display: flex;
  font-weight: 500;
  align-items: center;
  flex-wrap: wrap;
}

.dateLabel {
  color: var(--text-neutral-subtle);
  font-size: 0.875rem;
  font-weight: 400;
}

.activityContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.0625rem 1.0625rem 0 0;
}

.activityDescription {
  font-weight: 400;
  font-size: 1.125rem;
  height: 100%;
}

.statusSection {
  margin-left: 1rem;
  padding: 0 1.0625rem 1.0625rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}
