.fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 6px;
  height: 1.5rem;
}

.field {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  font-weight: 400;
  display: flex;
  height: 16px;
  font-size: var(--font-size-1, 14px);
  line-height: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.label {
  align-self: center;
  color: var(--color-neutral-text-subtle, #6c757d);
}

.requiresAttention {
  color: #fff;
}

.icon {
  margin-right: 0.25rem;
  flex-shrink: 0;
  align-self: flex-start;
  opacity: 0.6;

  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.statusSolidBorder {
  border: 1px solid #b8bcc1;
  border-radius: 2px;
  display: flex;
  min-width: var(--sizing-8, 32px);
  padding: 0.25rem 0.5rem;
  align-items: flex-start;
  color: var(--color-neutral-text-default, #202c3d);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  box-sizing: border-box;
  height: 1.5rem;
}

.blueText {
  color: var(--text-accent-subtle, #0163ba);
}

.blueBackground {
  background-color: var(--text-accent-subtle, #0163ba);
  color: #fff;
}

.blueBorder {
  border-color: var(--text-accent-subtle, #0163ba);
}
