.fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 6px;
}

.field {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-weight: 400;
  display: flex;
  height: 16px;

  justify-content: center;
  align-items: center;
}

.label {
  align-self: center;
}

.icon {
  margin-right: 0.375em;
  flex-shrink: 0;
  align-self: flex-start;

  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.statusSolidBorder {
  border: 1px solid #b8bcc1;
  border-radius: 2px;
  display: flex;
  min-width: var(--sizing-8, 32px);
  padding: 0.25rem 0.5rem;
  align-items: flex-start;

  color: var(--color-neutral-text-default, #202c3d);
  font-size: var(--font-size-1, 12px);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.blueText {
  color: var(--text-accent-subtle, #0163ba);
}

.blueBackground {
  background-color: var(--text-accent-subtle, #0163ba);
  color: #fff;
}

.blueBorder {
  border-color: var(--text-accent-subtle, #0163ba);
}
