.metaField {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  column-gap: 0.25rem;
  padding: 2px 0;
  color: var(--text-neutral-subtle);
}

.metaIcon {
  height: 1rem;
  width: 1rem;
}
