.backButton {
  text-decoration: none;
  padding-left: 0;
}

.backLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.backIcon {
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (max-width: 768px) {
  .backButton {
    padding-left: 1rem;
  }
}
