.backButton {
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 10px;
}

.backLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.backIcon {
  height: 1.5rem;
  width: 1.5rem;
}
