@keyframes animateFromBottom {
  0% {
    transform: scale(0.7);
    bottom: -50px;
  }
  100% {
    transform: scale(1);
    bottom: 0px;
  }
}

@keyframes animateFromTop {
  0% {
    top: -50px;
  }
  100% {
    top: 0px;
  }
}

.bulkHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  animation: animatefromtop 230ms cubic-bezier(0.21, 1.02, 0.73, 1);
  animation-iteration-count: 1;
  z-index: 100;
}

.bulkHeader > * {
  margin: 1rem;
}

.bulkHeader > span {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}

.bulkFooter {
  animation: animatefrombottom 230ms cubic-bezier(0.21, 1.02, 0.73, 1);
  animation-iteration-count: 1;
}

.actionPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--dark-blue);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
  min-height: 30px;
  margin: 1rem;
  max-width: calc(100vw - 4rem);
}

.actionButtons {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.actionButton {
  display: flex;
  align-items: center;
  .actionButtonLabel,
  .actionButtonIcon {
    color: white;
  }
  .actionButtonIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 5px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.undoButton {
  display: flex;
  align-items: center;
  .undoButtonLabel,
  .undoButtonIcon {
    color: white;
  }
  .undoButtonIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 5px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 600px /* todo: what is mobile breakpoint */) {
  .actionPanel {
    width: calc(100vw - 4rem);
    padding: 0.5rem;
  }

  .actionButtons {
    flex-direction: column;
    width: 100%;
  }

  .actionButton {
    width: 100%;
    justify-content: flex-start;
  }
}
