/* GLOBAL VARIABLES */

:root {
  /* Layer 0 - Raw colors */
  --dark-blue: #111D46;

  /* Layer 1 - Semantic colors */
  --background-color: #EAF7EF;
  --button-color: #084826;
  --avatar-color: #111D46;
  --Action-Important: #E02E49;
  --Action-Danger: #861C2C;
  --Person-Primary: #084826;
  --Saved-Searches-Background: rgba(75, 173, 247, 0.25);
}

.isCompany {
  --background-color: #E9F5FF;
  --button-color: #111D46;
}

body, html {
	margin: 0;
}
