.searchFilterTag {
  border: 1px solid #000;
  border-radius: 0.125rem;
  padding: 0.25rem 0.625rem;
  color: var(--black-100, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.searchFilterTagWrapper {
  display: flex;
}
