.betaBanner {
  background: var(--ds-color-warning-surface-default);
  color: var(--ds-color-warning-text-default);
  margin-top: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.betaBannerTitle {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.infoIcon {
  min-height: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: bottom;
}

.closeButton {
  border: 1px solid var(--ds-color-warning-text-default);
  padding: 10px;
  margin-right: 0.5rem;
}

.closeButton:hover {
  background: transparent;
}

.closeIcon {
  min-height: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  color: var(--ds-color-warning-text-default);
  font-size: 1.5rem;
}
