:root {
  --markdown-base-size: 1.125rem;
  --markdown-base-line-height: 1.5;
}
.__markdown-paragraph {
  font-size: var(--markdown-base-size);
  line-height: var(--markdown-base-line-height);
}

.__markdown-list-item {
  font-size: var(--markdown-base-size);
  line-height: var(--markdown-base-line-height);
}

.__markdown-header-3,
.__markdown-header-4,
.__markdown-header-5,
.__markdown-header-6 {
  font-size: var(--markdown-base-size);
  line-height: var(--markdown-base-line-height);
}

.__markdown-header-1,
.__markdown-header-2,
.__markdown-header-3,
.__markdown-header-4,
.__markdown-header-5,
.__markdown-header-6 {
  margin: 0.75rem 0;
}

.__markdown-header-1 {
  font-size: 1.5rem;
  line-height: 1.25;
}

.__markdown-header-1 {
  font-weight: 500;
}

.__markdown-header-2 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
}

.__markdown-header-3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25;
}

.__markdown-header-4 {
  font-weight: 600;
}

.__markdown-header-5 {
  font-weight: 500;
}

.__markdown-header-6 {
  font-weight: 500;
}

.__markdown-strong {
  font-weight: 500;
}
