.initialsCircle {
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.25rem;
  border: 1px solid white;
}

.darkCircle {
  border: 1px solid var(--avatar-color, #111D46);
}

.initialsCircle.isOrganization {
  border-radius: 0.25em;
}