.initialsCircle {
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 3px;
}

.small {
  min-width: 24px;
  min-height: 24px;
  color: #fff;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.initialsCircle.isOrganization {
  border-radius: 0.25em;
}
