.itemInboxPage {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.titleOne {
  margin-top: 2rem;
  margin-left: 1rem;
}

.subTitle {
  margin-left: 1rem;
  margin-top: 2rem;
}

.titleTwo {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.backButton {
  text-decoration: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

.backLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.backIcon {
  height: 1.5rem;
  width: 1.5rem;
}
