.itemInboxPage {
  display: flex;
  flex-direction: column;
  background: #fff;

  @media screen and (min-width: 600px) {
    min-width: 550px;
    max-width: 988px;
  }
}

.itemInboxPageContent {
  padding: 0.5rem;
}

.itemInboxNav {
  display: flex;
  align-items: center;
}

.itemInboxPageContent {
  padding: 0.5rem;
}

.itemInboxNav {
  display: flex;
  align-items: center;
}
