.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Company-Primary, #111d46);
  padding: 16px;
  max-height: 68px;
}

.navigationTablet {
  display: flex;
  flex-direction: column;
  color: var(--Company-Primary, #111d46);
  padding: 16px;
  max-height: 68px;
}

.adjustPadding {
  padding-left: 2rem;
}

.logo a {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  text-decoration: none;
  display: flex;
  align-items: center;
  min-width: 7.75rem;
}

.logo span {
  margin-left: 4px;
  font-weight: 500;
  line-height: 2;
}

.searchBar {
  margin: 0 42px;

  input {
    border-radius: 6px;
    border: 2px solid #000;
    background-color: inherit;
  }
}
