.menuItem {
  transition: background-color 0.3s ease;
  min-height: 32px;
  padding: 0.375rem;
  align-items: center;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr;
  width: 100%;
  box-sizing: border-box;

  > svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.liItem {
  margin-bottom: 0.5rem;
}

.isLink {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.leftContent {
  display: flex;
  align-items: center;
  grid-area: left;
  width: 100%;
}

.displayText {
  margin-left: 10px;
  color: var(--black-100, #000);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}

.largeText {
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 500;
}

.icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-color);
  border-radius: 4px;
  background: #fff;
  width: 2rem;
  height: 2rem;
}

.badgeWrapper {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.isWhiteBackground {
  background-color: #fff;
}

.whiteBackgroundWhenActive {
  background: #fff;
}

.hasHover:hover {
  background: var(--Neutral-Paper, #f3f4f6);
}

.hasProfiledHover:hover {
  background: var(--background-color-accented);
}

.isTransparentBackground {
  background: transparent;
}

.greyBackgroundWhenActive {
  background: var(--Neutral-Paper, #f3f4f6);
}

.isInbox {
  background: var(--button-color);
  width: 2.75rem;
  height: 2.75rem;
  color: #fff;
}

.arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: #000;
}

.small .displayText {
  color: var(--black-100, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
