.menuContainer {
  position: relative;
  display: flex;
  background-color: var(--Company-Primary, #111d46);
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 0.625rem;
  height: 2.25rem;
  min-width: 6.4375rem;
  user-select: none;
}

.menuText {
  min-width: 2.25rem;
  min-height: 2.25rem;
  background-color: var(--Company-Primary, #111d46);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.25rem;
  position: relative;
  padding-left: 0.25rem;
}

.menuCircle {
  min-width: 2.25rem;
  min-height: 2.25rem;
  background-color: var(--Company-Primary, #111d46);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.25rem;
  position: relative;
  padding-left: 0.25rem;
}

.menuCircle.isOrganization {
  border-radius: 4px;
}

.counterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 24px;
  background-color: var(--action-important, #e02e49);
  margin-right: 0.5rem;
  color: #fff;
  position: absolute;
  transform: translate(50%, -50%);
  top: 3px;
  margin-top: 0.25rem;
  right: 3px;
}

.counter {
  padding: 4px 8px;
  color: var(--white-100, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}

.nameWithInitials {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--Company-Primary, #111d46);
  border-radius: 0.375rem;
  color: #fff;
  height: 2.25rem;
  max-height: 36px;
}

.crossSquare {
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Company-Primary, #111d46);
  color: #fff;
  border-radius: 3px;
  border: 1px solid #9ca3af;
}

.active {
  background: var(--background-color);
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logoutButton {
  width: 100%;
}

.subMenuTitle {
  color: var(--black-100, #000);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.iconAndText {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
}

.icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.displayText {
  font-size: 1.25rem;
}

.link {
  text-decoration: none;
  color: inherit;
}
