.inbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filtersArea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;

  @media (max-width: 1024px) {
    padding: 1.5rem;
  }
}

.gridContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}

.filterSaveContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.sortOrderContainer {
  justify-self: end;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .sortOrderContainer {
    justify-self: start;
  }
}

@media screen and (max-width: 1024px) {
  .hideForSmallScreens {
    display: none;
  }
}
