.dropdownList {
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0.5rem 0.5rem 0;
  position: absolute;
  z-index: 1001;
  background: #fff;
  margin-block-start: 10px;
}

.long {
  min-width: 350px;
  max-width: 350px;
}

.medium {
  min-width: 290px;
  max-width: 290px;
}

.short {
  min-width: 195px;
  max-width: 195px;
}

@media screen and (max-width: 1024px) {
  .mobileDrawer {
    position: fixed;
    left: 0;
    top: 100px;
    min-width: calc(100vw - 16px);
    max-width: calc(100vw - 16px);
    height: 100%;
  }
}
