.background {
  min-height: 100vh;
  background: var(--background-color);
  overflow: auto;
}

.isCompany {
  --background-color: var(--Company-Paper);
  --button-color: var(--Company-Primary);
  --background-color-accented: var(--Company-300);
  --border-color-accented: var(--Company-800);
  --border-color-subtle: var(--Company-600);
}
