.footer {
    color: #333;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 1.5rem 1rem 1rem;
    background-color: var(--background-color, #EAF7EF);
}

.content {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25)
}

.links {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}