.savedSearchesActions {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  color: #000;
}

.leftInnerContent {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.contextMenu {
  position: absolute;
  top: 100%;
  right: 0;
}
