name: "Check for file changes"

on:
  workflow_call:
    inputs:
      infra_base_sha:
        description: "Base SHA for infrastructure changes"
        required: false
        default: ''
        type: string
      apps_base_sha:
        description: "Base SHA for application changes"
        required: false
        default: ''
        type: string
    outputs:
      hasInfrastructureChanges:
        description: "Infrastructure related files changed"
        value: ${{ jobs.check-for-changes.outputs.hasInfrastructureChanges }}
      hasApplicationChanges:
        description: "Application related files changed"
        value: ${{ jobs.check-for-changes.outputs.hasApplicationChanges }}
      hasMigrationChanges:
        description: "Migration related files changed"
        value: ${{ jobs.check-for-changes.outputs.hasMigrationChanges }}
      hasNodeLoggerChanges:
        description: "Node Logger related files changed"
        value: ${{ jobs.check-for-changes.outputs.hasNodeLoggerChanges }}

jobs:
  check-for-changes:
    name: Filter
    runs-on: ubuntu-latest
    outputs:
      hasInfrastructureChanges: ${{ steps.filter-infra.outputs.infrastructure_any_modified == 'true' }}
      hasApplicationChanges: ${{ steps.filter-apps.outputs.applications_any_modified == 'true' }}
      hasMigrationChanges: ${{ steps.filter-apps.outputs.migrations_any_modified == 'true' }}
      hasNodeLoggerChanges: ${{ steps.filter-apps.outputs.nodeLogger_any_modified == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # fetch-depth needs to be 0 in cases where we want to fetch changes since previous tag for example
          fetch-depth: 0

      - uses: tj-actions/changed-files@v42
        id: filter-infra
        with:
          base_sha: ${{ inputs.infra_base_sha }}
          files_yaml: |
            infrastructure:
              - '.github/**/*'
              - '.azure/infrastructure/*'
              - '.azure/modules/**/*'

      - uses: tj-actions/changed-files@v42
        id: filter-apps
        with:
          base_sha: ${{ inputs.apps_base_sha }}
          files_yaml: |
            applications:
              - '.github/**/*'
              - '.azure/applications/**/*'
              - '.azure/modules/**/*'
              - 'packages/bff/**/*'
              - 'packages/frontend/**/*'
            migrations:
              - 'packages/bff/src/migrations/**/*'
              - '.azure/applications/bff-migration-job/**/*'
              - '.azure/modules/containerAppJob/**/*'
            nodeLogger:
              - '.github/**/*'
              - 'packages/node-logger/**/*'
